.section--02 {
  position: relative;
  z-index: 100;
  background: #040404;
  color: #ffffff;
  font-family: "medio", sans-serif;
  padding: 10% 0 5% 0;
}
.img-scroll-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  margin: 3% 0 0 20%;
}
.img-scroll-gallery {
  overflow: hidden;
  flex-wrap: nowrap;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}
@keyframes scroll {
  to {
    transform: translate(-180%);
  }
}

.img-container {
  animation: scroll 20s linear infinite;
  position: relative;
  min-width: 301px;
  min-height: 280px;
  border: 1px solid whitesmoke;
}

.img-container .imgs {
  padding: 10%;
  width: 100%;
}
.img-container .imgs img {
  width: 100%;
  height: 198px;
  object-fit: cover;
}
.img-container p {
  position: absolute;
  bottom: 10%;
  left: 5%;
  border: 1px solid white;
  padding: 2px 7px;
  border-radius: 10px;
}
.img-container:nth-child(3),
.img-container:nth-child(3) p {
  background-color: rgba(120, 32, 30, 0.71);
}
.img-container:nth-child(2) {
  background-color: rgba(19, 29, 39, 1);
}
.section--02-text {
  margin: 5% 0 2% 5%;
  display: flex;
  gap: 1%;

  align-items: center;
  justify-content: flex-start;
}

.section--02-text h1 {
  font-family: "izambane", sans-serif;
  font-size: 15rem;
}
.section--02-footer {
  margin: 0 2% 3% 5%;
}
.section--02-text p {
  padding-right: 20%;
  font-size: 1.2rem;
}
.giovanni {
  position: relative;
  width: 100%;
  height: 227px;
  background-image: url(img/Rectangle\ 23.png);
  margin-bottom: 5%;
}
.giovanni-text {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(50px, -50px);
  font-size: 1.1rem;
  width: 35%;
  color: #040404;
}
.bottom-line {
  margin-left: 5%;
  margin-bottom: 1%;
  overflow: hidden;
}

.button {
  position: absolute;
  bottom: 2%;
  right: 2%;
  background: transparent;
  padding: 5px 30px;
  border-radius: 20px;
  font-family: "izambane", sans-serif;
  border: 1px solid white;
}
.button a {
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}
.custom-scrollbar {
  position: absolute;
  top: 50px;
  left: 10px;
  width: calc(100% - 20px);
  height: 2px;
  background: #ccc;
  border-radius: 5px;
  overflow: hidden;
}
